<nav class="navbar navbar-expand-sm navbar-light navbar-bg">
    <div class="container-fluid">
        <img src="/images/logo.png" alt="Logo" class="nav-logo" style="width: 80px; height: auto; margin-right: 10px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

