/* Section Container Styling */
.section-container {
  border: 2px solid #00FFFF;
  border-radius: 20px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #f8f9fa; 
  max-width: 1200px;
}

.header-p {
  color: white;
  text-align: left;
  margin-bottom: 4px;
  text-decoration: underline 2px #00FFFF;
  font-family: 'Elephant', sans-serif;
}

/* Grid Container Adjustments */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(900px, 3fr));
  gap: 20px;
}

.mb-4 {
  max-width: 1200px;
}

/* Card Styling */
.card {
  background-size: cover;
  background-position: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.side1 {
  animation: fade-in 0.5s linear;
}

@keyframes fade-in {
  from { 
    opacity: 0;
    transform: translateX(-70px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.side2 {
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from { 
    opacity: 0;
    transform: translateX(70px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.card-title {
  color: black;
  font-family: 'Elephant', sans-serif;
}

.card-img-top {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 200px; 
  border-radius: 8px; 
  border: #dfdfdf solid 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.card:hover {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.link-p {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.contain {
  padding: 35px;
  justify-content: center;
}

.title-p {
  text-align: left;
  text-decoration: underline 2px solid;
  text-decoration-color: #00FFFF;
  font-size: 40px;
  font-family: 'Elephant',sans-serif;
}

.col {
  height: auto;
}

.btn-d {
  background-color: #00FFFF;
  color: #1e2a47;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-family: 'Elephant', sans-serif;
  display: inline-block; 
  margin-top: 10px; 
  text-decoration: none;
}

.btn-d:hover {
  background-color: #1e2a47;
  color: #00FFFF;
  border: 1px solid #00FFFF;
}


/* Responsive Styles */
/* @media (max-width: 768px) {
  .section-title {
    font-size: 30px;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .card {
    width: max-content;
  }
}

@media (max-width: 480px) {
  .section-container {
    padding: 15px;
  }
  .section-title {
    font-size: 25px;
    padding: 10px;
  }
  .link-p {
    font-size: 13px;
  }
} */
