.carousel-inner img, 
.carousel-inner video {
  max-height: 700px;
  max-width: 1000px;
  width: auto; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px; 
  margin: auto;
  border: black 10px solid;
}

.custom-project-details {
  text-align: center; /* Center the text */
}

.custom-project-title {
  font-size: 40px; /* Adjust title size */
  font-weight: bold; /* Bold font */
  color: white; /* Custom color */
  font-family: 'Elephant',sans-serif;
  text-decoration:underline solid 2px #00FFFF;
}

.custom-project-description {
  font-size: 20px; /* Adjust description size */
  color: white; /* Custom color */
  text-align: center; 
  margin: auto;
  border: #00FFFF solid 2px;
  width: auto;
  max-width: 1000px;
  padding: 5px;
  background-color: #1A547B ;
  margin-bottom: 30px;
}

.desc-main {
  text-align: left;
  font-size: 22px;
  padding-top: 50px;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 10px;
  animation: fade-in 0.4s linear;
  /* animation-timeline: view();
  animation-range-end: 350px; */
}

@keyframes fade-in {
  from { 
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.link-d {
  color: #00FFFF;
  text-decoration: underline white;
}

.btn-d {
  background-color: #00FFFF;
  color: #1e2a47;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-family: 'Elephant', sans-serif;
  text-align: center;
  border:#1e2a47 1px solid;
}

.btn-d:hover {
  background-color: #1e2a47;
  color: #00FFFF;
  border: #00FFFF 1px solid;
}

em {
  font-family: 'Elephant', sans-serif;
  letter-spacing: 1px;
}

.link-d {
  color: white;
  font-family: 'Elephant', sans-serif;
  letter-spacing: 1px;
  font-style: italic;
}

.link-d:hover {
  text-decoration: underline #00FFFF;
}

.my-3 {
  padding-bottom: 40px;
}